* {
    font-family: muli, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    animation: init 1.5s 1;
    transition: all 1s;
    background-color: #000;
}

@keyframes init {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1,
h2,
h4,
h1 span {

    font-family: 'Mulish', sans-serif;
}

h1 span {
    color: #4400ff;
}

header img {
    width: 60%;
}

head picture {
    height: min-content;
    width: min-content;
}

header {
    display: flex;
    width: 100%;
    padding: 20px;
    top: 0;
    border-bottom: 1px solid #111;
    position: sticky;
    background-color: #000;
    z-index: 100;
}

nav {
    background-color: #000;
    z-index: 100;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-family: 'Bebas Neue', cursive;
}

button {
    padding: 13px 25px;
    font-size: 15px;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    height: 100%;
    cursor: pointer;
}

.links {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.links button {
    transition: all .3s;
}

.links button:hover {
    color: #fff;
    background-color: #4400ff;
}


section {
    display: flex;
    flex-direction: column;
    padding: 66px;
    width: 100%;
    border-bottom: 1px solid #111;
}

#home {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    height: 100vh;
}

#home h1 {
    max-width: 550px;
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

form {
    display: flex;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    width: 100%;
}

input {
    background-color: rgba(240, 238, 255, 0.1) !important;
    border: none;
    outline: none;
}

form button {
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    width: 100% !important;
    text-align: center;
}

#home form input {
    padding: 20px;
}

form button,
input {
    height: 50px;
    margin: 0;
    width: 40%;
    border: none;
}

#home aside:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#home aside picture img {
    width: 270px;
    object-fit: cover;
    height: 270px;
    opacity: .2;
    transition: all 1s;
    border-radius: 50%;
}

#home aside picture {
    position: relative;
}

.social {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

i {
    font-size: 30px;
    text-align: center;
}



#home h1 span {

    text-shadow: 0px 1px 14px hsl(256, 94%, 26%);
}

#home p {
    font-size: 1.1em;
    max-width: 580px;
    line-height: 25px;
    color: rgba(240, 238, 255, 0.6) !important;
}

#skills {
    width: 100%;
    align-items: center;
}


.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 100px;
    padding: 130px 20px;
    align-items: center;
}

.skillsContainer img {
    width: 90px;
    object-fit: cover;
    height: 90px;
    margin: 20px;
}

#projects {
    width: 100%;
    gap: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
}

#projects h2 {
    text-align: center;
}

.project img {
    width: 30px;
}

.image-project img {
    min-width: 480px;
    object-fit: cover;
    height: 240px;
}



.containerProjects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(24 24 26);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 350px;
    transform: translateY(-1200%);
    height: min-content;
}


.containerProjects.animate .project:nth-child(1) {
    animation: moveProject .7s ease 1 forwards;
}

.containerProjects.animate .project:nth-child(2) {
    animation: moveProject .8s ease 1 forwards;
}

.containerProjects.animate .project:nth-child(3) {
    animation: moveProject .9s ease 1 forwards;
}

.containerProjects.animate .project:nth-child(4) {
    animation: moveProject .9s ease 1 forwards;
}

.containerProjects.animate .project:nth-child(5) {
    animation: moveProject .9s ease 1 forwards;
}

.containerProjects.animate .project:nth-child(6) {
    animation: moveProject 1s ease 1 forwards;
}

.containerProjects.animate .project:nth-child(7) {
    animation: moveProject 1s ease 1 forwards;
}

.containerProjects.animate .project:nth-child(8) {
    animation: moveProject 1s ease 1 forwards;
}

@keyframes moveProject {

    0% {
        display: none;
        transform: translateY(-1200%);
    }

    100% {
        display: flex !important;
        transform: translateY(0px);
    }

}

.details {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    position: absolute;
    inset: 0;
    margin: auto;
    transform: translateY(330px);
    transition: .3s all;
    background-color: rgba(41, 40, 41, .98);
}


.project:hover div+picture+.details {
    transform: translateY(0px) !important;
}

.lenjuages {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-buttons {
    display: flex;
    justify-content: space-around;
}

.project-buttons button {
    border: none;
}



h2,
h4 {
    text-align: center;
}

#contact {
    gap: 50px;
    align-items: center;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 18, 19);
    padding: 20px;
    width: 80% !important;
    border-radius: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}

#contact textarea {
    color: #000;
}

#contact input,
#contact textarea,
#contact button {
    width: 100%;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.projects {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 30px;
}


.image-project img {
    height: 160px;
    object-fit: contain;

}

.project-desctiprion {
    width: 100%;
    text-align: center;
}



.project:hover div+picture+.details {
    transform: translateY(0px) !important;
}

nav ul li a:hover {
    color: #eedeff;
}

nav ul li a {
    transition: all .3s;
}

.skillsContainer picture {
    transform: translateX(-0%);
}

@keyframes move {

    0% {
        transform: translateX(-1000%);
    }

    100% {
        transform: translateX(0%);
    }

}


.skillsContainer.animate picture:nth-child(1) {
    animation: move .5s ease 1 forwards;
}

.skillsContainer.animate picture:nth-child(2) {
    animation: move .6s ease 1 forwards;
}

.skillsContainer.animate picture:nth-child(3) {
    animation: move .7s ease 1 forwards;
}

.skillsContainer.animate picture:nth-child(4) {
    animation: move .8s ease 1 forwards;
}

.skillsContainer.animate picture:nth-child(5) {
    animation: move .9s ease 1 forwards;
}

.skillsContainer.animate picture:nth-child(6) {
    animation: move 1s ease 1 forwards;
}

input[type="checkbox"] {
    width: 20px !important;
    position: relative;
    display: none;
}

#modeLabel {
    width: 100px;
    position: relative;
    background-color: #111;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#modeLabel::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(10px);
    transition: all .6s;
}

input[type="checkbox"]:checked+label::after {
    transform: translateX(70px) !important;
    background-color: #777 !important;
}

main.light {
    transition: all 1s;
    background-color: #fff;
}

main.light h1,
main.light h2,
main.light h4,
main.light i,
main.light #home p {
    color: #000 !important;
}

main.light #home aside picture img {
    opacity: .9;
}

main.light section {
    border-color: #f0f0f0;
}

main.light .project {
    box-shadow: 10px 8px 5px #ccc;
}

@media only screen and (max-width: 600px) {

    #home picture,
    #home .social {

        display: none;
    }

    header picture {
        display: none;
    }

    nav ul {
        width: 100%;
        justify-content: space-between !important;
    }

    section {
        padding: 40px;
    }

    .formContainer {
        width: 100% !important;
    }

    .details {
        position: relative;
        transform: translateY(0);
        width: 100%;
        gap: 20px;
        background-color: transparent;
    }

    h1 {
        font-size: 3rem !important;
    }

    #home {
        display: flex;
        flex-direction: row;
    }

    .image-project img {
        object-fit: cover;
    }

    #projects {
        padding: 30px;
    }

    #modeLabel {
        display: none;
    }
}

textarea {
    background-color: rgba(240, 238, 255, 0.1) !important;
    border: none;
    resize: none;
    width: 100% !important;
    color: #fff !important;
}

i:hover {
    color: #777;
}

.button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}